.feedbackButton {
  background-color: #121212 !important; /* black */
  color: #34c94b !important;           /* green text */

  padding: 10px 28px;
  border-radius: 999px;
  border: none;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}


.button:hover {
  opacity: 0.95;
}
