.card {
  width: 160px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #121212;
}

.image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.bottom {
  padding: 8px;
}

.title {
  color: white;
  font-size: 14px;
  margin-top: 6px;
}

.chip {
  background-color: black !important;
  color: white !important;
}
