.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.hero h1 {
  color: #ffffff;            
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}