.section {
  margin-top: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

.header button {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

.grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}
