.section {
  margin: 30px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  color: white;
}

.toggle {
  background: none;
  border: none;
  color: #34c94b;
  cursor: pointer;
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
